.searchbox{
    display: flex;
    justify-content: start;
    margin-top: 20px;
}
.button {
    font-family: inherit;
    border: none;
    /* outline: 1px dotted rgb(37, 37, 37);
    outline-offset: -4px; */
    background: hsl(0deg 0% 75%);
    box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 8px;
    transition: 0.2s;
}

.button:active {
    box-shadow: inset 1px 1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
    background: hsl(0, 0%, 88%);
}
.inventory-table-header {
            
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top of the container */
    background-color: white; /* Ensure the header has a background color */
    z-index: 1;
}

.inventory-table-row {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    cursor: pointer;
}
.inventory-table-row:hover {
    background: rgb(204, 206, 204);
    opacity: 1;
    transition: 0.5s;
}
.inventory-table-complex-row {
   border-bottom: 1px solid black;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
   background: rgb(255, 255, 255);
   cursor: pointer;
}
.inventory-table-complex-row:hover {
   background: rgb(204, 206, 204);
   opacity: 1;
   transition: 0.5s;
}
.unittable-table{
    background-color: white;
}
/* .unittable-table:nth-child(even) {
    background: rgb(240, 240, 240);
} */
.unittable-table:hover {
    background: rgb(204, 206, 204);
    opacity: 1;
    transition: 0.5s;
}
.tablerownoncompleted{
    color:grey;
    opacity: 0.5;
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}